.dashboard-header-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  display: flex;
}
.welcome h1:first-child {
  margin-right: 0.2em;
}
.welcome h1:nth-child(2) {
  text-transform: capitalize;
}
.welcome-ctn {
  color: var(--deep-grey);
}

