@import url("../../../configurations/constants/themeColors.css");

.sidebar {
  color: var(--off-white);
  height: 100vh;
  width: 15.63vw;
  display: flex;
  flex-direction: column;
}

.main-logo {
  background-color: var(--off-blue);
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-logo > h1 {
  margin-bottom: 0;
}
.mini-title {
  padding: 1.5em 1em;
}
.mini-title > p {
  margin-bottom: 0;
  color: var(--grey);
}

.menu-container {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--primary-darker);
}
.menu-item-ctn {
  height: 3em;
}
.menu-item-ctn span {
  display: flex;
  padding: 0.4em 0;
  padding-left: 1em;
  height: 3em;
}
.menu-item-ctn p {
  margin-bottom: 0;
}
.menu-item-ctn i {
  padding-right: 1em;
}
.menu-item-ctn span:hover {
  background-color: var(--darker);
  color: var(--text-primary-darker);
}

.menu-item-ctn .active {
  background-color: var(--darker);
  color: var(--text-primary-darker);
}


#text-decoration {
  text-decoration: none;
  color: var(--off-white);
}

.sidebar li {
  list-style: none;
}

